{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Melon - Generate
{% endblock %}

{% block head %}
    {{super()}}
    {% include 'ga.html' %}
    {% include 'style.html' %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- player -->
<script src="https://unpkg.com/wavesurfer.js"></script>


    <style type="text/css">

      /*https://www.freecodecamp.org/news/how-to-build-a-delightful-loading-screen-in-5-minutes-847991da509f*/
      /*--- Loading page ---*/
      .loading_container {display: none;}
      .loading_div {display: flex;  justify-content: center;  align-items: center;  min-height: 100vh;}
      .loading {  max-width: 50%;  line-height: 1.4;  font-size: 1.6rem;  font-weight: bold;  text-align: center;}
      .loading__sub {  font-weight: normal;  font-size: 1.2rem;  color: rgba(189,189,189 ,1);  margin: 0.6rem 0 2rem 0;  display: block;}
      .loading__anim {  width: 70px;  height: 70px;  display: inline-block;  border: 5px solid rgba(189,189,189 ,0.25);  border-left-color: rgba(3,155,229 ,1);  border-top-color: rgba(3,155,229 ,1);  border-radius: 50%; animation: rotate 600ms infinite linear;}
      @keyframes rotate { to {  transform: rotate(1turn) }} 
    </style>
{% endblock %}

{% block navbar %}
    {% include 'nav2.html' %}
{% endblock %}

{% block content %}
  {% include 'flash.html' %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/e3cdd0fd88.js" crossorigin="anonymous"></script>

  <div class="loading_container" id="loading_container">
    <div class="loading_div">
      <div class="loading">
        <img src="https://purepng.com/public/uploads/medium/purepng.com-music-iconsymbolsiconsapple-iosiosios-8-iconsios-8-721522596085a1vfa.png" style="height: 80px;">
        <br>
        "Music and rhythm find their way into the secret places of the soul."
        <span class="loading__sub"> --- Plato </span>
        <span class="loading__anim"></span>
      </div>
    </div>
  </div>

   <div class="container container-fluid" id="generate_container">
    <h1>Generate Music</h1>

      <form action="{{ url_for('generate') }}" method="post">

          <label style="color:orange">Step 1: Choose a key:</label>
          <br>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-light">
              <input type="radio" name="key"  autocomplete="off" value="C" aria-pressed="true" data-toggle="button"> C
            </label>
            <label class="btn btn-light">
              <input type="radio" name="key"  autocomplete="off" value="D" aria-pressed="true" data-toggle="button"> D
            </label>
            <label class="btn btn-light">
              <input type="radio" name="key"  autocomplete="off" value="E" aria-pressed="true" data-toggle="button"> E
            </label>
            <label class="btn btn-light">
              <input type="radio" name="key" autocomplete="off" value="F" aria-pressed="true" data-toggle="button"> F
            </label> 
            <label class="btn btn-light">
              <input type="radio" name="key"  autocomplete="off" value="G" aria-pressed="true" data-toggle="button"> G
            </label>
            <label class="btn btn-light">
              <input type="radio" name="key"  autocomplete="off" value="A" aria-pressed="true" data-toggle="button"> A
            </label>
            <label class="btn btn-light">
              <input type="radio" name="key" autocomplete="off" value="B" aria-pressed="true" data-toggle="button"> B
            </label>
          </div>

            {% if target_key %}
              <label>You choose target key: {{target_key}}</label>
            {% endif %}


            <br>
            <label style="color:orange">Step 2: Choose an instrument:</label>
            <br>
            <div class="btn-group btn-group-toggle" data-toggle="buttons" >
            <label class="btn btn-light">
              <input type="radio" name="instrument"  autocomplete="off" value="Piano" ><img src='static/images/keyboard.png' height="32" width="38">
            </label>
            <label class="btn btn-light">
              <input type="radio" name="instrument"  autocomplete="off" value="Guitar"><img src='static/images/guitar.png' height="32" width="38">
            </label>
            <label class="btn btn-light">
              <input type="radio" name="instrument"  autocomplete="off" value="Bass"><img src='static/images/bass.png' height="32" width="38">
            </label>
            <label class="btn btn-light">
              <input type="radio" name="instrument" autocomplete="off" value="Drum"><img src='static/images/drum.png' height="32" width="38">
            </label>
            <label class="btn btn-light">
              <input type="radio" name="instrument"  autocomplete="off" value="Violin"><img src='static/images/violin.png' height="32" width="38">
            </label>
            <label class="btn btn-light">
              <input type="radio" name="instrument"  autocomplete="off" value="Trumpet"><img src='static/images/trumpet.png' height="32" width="38">
            </label>
            <label class="btn btn-light">
              <input type="radio" name="instrument" autocomplete="off" value="Saxophone"><img src='static/images/saxophone.png' height="32" width="38">
            </label>
             </div>

            {% if instrument %}
              <label>You choose target instrument: {{instrument}}</label>
            {% endif %}

      <br></br>
      <label style="color:orange">Step 3: Generate Music:</label>
          <input type="submit" class="btn btn-primary" id="sub-button" name='submit' value='Generate!' onclick='generateMusic()'></input>
      </form>


      {% if syllables %}
      <div>
          <audio controls>
            <source src="static/music/final_output.mp3" type="audio/mp3">
          </audio>  
      </div>
      <div id="waveform"></div>
      {% endif %}

   </div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
  function init() {
    document.getElementById("loading_container").style.display = 'none';
  }

  function generateMusic() {
    // alert("Let's begin generating!");
    document.getElementById("generate_container").style.display = 'none';
    document.getElementById("loading_container").style.display = 'block';
    // wavesurfer.load('static/music/final_output.mp3');
  }
</script>
{% endblock %}
