    <!----------------Banner section---------------->
    <div id="banner">
        <div class="container">
        <div class="row">
        <div class="col-md-6">
        <div class="promo-title">M E L O N
          <!-- <img src="static/images/geo1.png" class="img-fluid"> -->
            <p>Create music through AI fed with lyrics.</p>
             <a href="/instruction" type="button" class="btn btn-outline-success" style="color:#64c97a; position: relative; top: 30%;" onclick = "gtag('event','click',{'event_category':'instruction','event_label':'instruction',value:5})">INSTRUCTION</a>
        </div>
<!--         <a href="#lyrics"><img src="static/images/play.png" class="play-btn">TRY IT NOW</a>
 -->        
        </div>
        <div class="col-md-6 text-center">
        <img src="static/images/geo1.png" class="img-fluid">
        </div>
        </div>
        </div>
        
        <img src="static/images/waves.png" class="bottom-img">
    </div>

<!---------------About US--------------->
<div id="about">
    <div class="container">
    <h1 class="title text-center">♪ ABOUT</h1>
    <div class="row">
    <div class="col-md-6 about-us">
    <p class="about-title">What we do</p>
    <p>Melon will allow users to feed their original text into our lyrics-to-melody generative model reinforced by neural networks and create music. We want to help those intimidated by the difficulty of music-making have fun in generating original melodies and inspire those who are interested in writing songs to further explore their potential in producing quality music.</p>
    </div>
    <div class="col-md-6">
    <img src="static/images/geo2.png" class="img-fluid">
    </div>
    </div>
    </div>

<!-----------------Services Section------------>
<div id="services">
    <div class="container text-center">
    <h1 class="title">♪ STEPS TO GENERATE MUSIC</h1>
    <div class="row text-center">
    <div class="col-md-4 services">
    <img src="static/images/message-icon.png" class="service-img">
    <h4>UPLOAD TEXT</h4>
    <p>The first step of geerating music is to upload your lyrics. Simply copy and paste in the following box and press upload button! Also, don't forget to choose aucostic or vocal!</p>
    </div>
    <div class="col-md-4 services">
    <img src="static/images/music-icon.png" class="service-img">
    <h4>AUDIBLE</h4>
    <p>Listen to the music we generated for you! If you don't like it, try "switch" to change the tone to another one! We'll add genre feature in the feature and let you change it as well! </p>
    </div>
    <div class="col-md-4 services">
    <img src="static/images/arrow-icon.png" class="service-img">
    <h4>DOWNLOAD</h4>
    <p>You can download the music we generated for you and play as many times as you like or add it to your background music! </p>
    </div>
    </div>
        <button type="button"class="btn btn-primary">Future Plans</button>
    </div>
</div>

<!-- team -->
<div id="team" class="team">
    <div class="container text-center">
</br></br>
      <div class="section-title">
        <h1 class="title text-center">♪ TEAM</h1>

      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="static/images/user_dd.jpeg" alt="">
            <h4>Ding Ding</h4>
            <span>Tech Lead</span>
            <p> "You only live once"
            </p>
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="static/images/user_tq.jpeg" alt="">
            <h4>Tian Qin</h4>
            <span>Frontend, Product Manager</span>
            <p> "Responsibility, Influncing, Sustaining"
            </p>
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="static/images/user_jl.jpg" alt="">
            <h4>Jingxian Li</h4>
            <span>Frontend, Product Manager</span>
            <p>
               "If not you, who?"
            </p>
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="static/images/user_sc.jpeg" alt="">
            <h4>Sihan Chen</h4>
            <span>Deep Learning Scientist</span>
            <p>
              "Only toilet paper deals with more *** than I do"
            </p>
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="static/images/user_jc.jpg" alt="">
            <h4>Jiaqi Chen</h4>
            <span>Backend</span>
            <p>
              "Let things go"
            </p>
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="static/images/user_yz.jpg" alt="">
            <h4>Yunzheng Zhao</h4>
            <span>Backend, Frontend</span>
            <p>
              "Well done is better than well said"
            </p>
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="static/images/user_wh.jpg" alt="">
            <h4>Wendeng Hu</h4>
            <span>Backend</span>
            <p>
              "I came, I saw, I conquered"
            </p>
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

</br></br>

    </div>

</div>

<!-------------------Social Media Section------------------------>
<div id="social-media">
    <div class="container text-center">
      <h1 class="title text-center">♪ SHARE ON SOCIAL MEDIA</h1>
        <div class="social-icons">
        <a href="#"><img src="static/images/tiktok-icon.png"></a>
        <a href="#"><img src="static/images/ins-icon.png"></a>
        <a href="#" id="share-facebook-btn"><img src="static/images/fb-icon.png"></a>
        <div class="fb-share-button" data-href="http://melon-app.eba-6mh3jyrq.us-west-2.elasticbeanstalk.com/" 
        data-layout="button" data-size="large"><a target="_blank" href="http://melon-app.eba-6mh3jyrq.us-west-2.elasticbeanstalk.com/" class="fb-xfbml-parse-ignore"></a></div>
        </div>
</div>