<div id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="index"><img src="static/images/melon-logo1.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav navbar-left">
            <li class="nav-item">
              <a class="nav-link " href="/index">Home</a>
            </li>

<!--             {% if not authenticated_user %}
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            {% endif %} -->

            {% if authenticated_user %}
              <li class="nav-item">
                <a class="nav-link" href="/user">User Page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
</div>